name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main

jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest

    steps:
      - name: Hello World 찍기
        run: echo "Hello World"
      - name: 여러 명령어 문장 작성
        run: |
          echo "Good"
          echo "Morning"
      - name: 작업폴더가 무엇인지 출력
        run: pwd
 
      - name: 작업폴더 목록
        run: ls -la 
