name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main

env:
  NAME: kosa
  USERNAME: kosa
  USER_PASSWORD: ${{ secrets.USER_PASSWORD }}


jobs:
  My-Deploy-Job:
    runs-on: ubuntu-latest

    steps:
      - name: Hello World 찍기
        run: echo "Hello World"
      - name: 여러 명령어 문장 작성
        run: |
          echo "Good"
          echo "Morning"
      - name: 작업폴더가 무엇인지 출력
        run: pwd
 
      - name: 작업폴더 목록
        run: ls -la

      - name: 환경변수 모두 출력
        run: env

      - name: 환경변수 NAME 출력
        run: echo ${{ env.NAME }}

      - name: 환경변수 USERNAME 출력
        run: echo "USERNAME = ${{ env.USERNAME }}"

      - name: 시크릿 USER_PASSWORD 출력
        run: |
          echo "USER_PASSWORD = ${{ secrets.USER_PASSWORD }}"
          echo "USER_PASSWORD = ${{ env.USER_PASSWORD }}"
