name: Github Actions 실행시켜보기

on:
  push:
    branches:
      - main

env:
  NAME: kosa
  USERNAME: kosa
  USER_PASSWORD: ${{ secrets.USER_PASSWORD }}


jobs:
  My-Build-Job:
    runs-on: ubuntu-latest

    steps:
      - name: Hello World 찍기
        run: echo "Hello World"
      - name: 여러 명령어 문장 작성
        run: |
          echo "Good"
          echo "Morning"
  My-Deploy-Job:
    needs: My-Build-Job
    name: 배포 작업
    runs-on: self-hosted

    steps:
      - name: 배포 작업 1단계 파일 생성
        run: echo "Hello World" > output.txt

      - name: configmap checksum
        run: |
          kubectl apply -f /home/kosa/docker-kubernetes/chapter7/7.3\ configmap/step3/configmap.yaml
          export checksum=$(kubectl get configmap my-app-config -o yaml | sha256sum | awk '{print $1}')
          kubectl patch deployment my-app-deployment -p \
            '{"spec":{"template":{"metadata":{"annotations":{"checksum/config": "'$checksum'"}}}}}'
